/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif; */
  text-decoration: none;
}
body {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background: hsl(210, 36%, 96%);
  color: hsl(205, 86%, 17%);
  line-height: 1.5;
  font-size: 0.875rem;
  margin-top: 7rem;
  /* overflow-x: hidden; */
  /* width: 100vw; */
}

input[type='submit'] {
  outline: none;
  border: none;
  padding: 10px;
}
.img-width {
  width: 100px;
  height: 100px;
}
.h1-title {
  margin-left: 1.5rem;
  margin-bottom: 20px;
}
.success {
  color: #40a128;
}
.bold {
  font-weight: 500;
}
.underline {
  /* width: 100%; */
  border: 1px solid gray;
  /* height: 10px; */
}
.mg-bottom {
  margin-bottom: 2rem;
}
.error {
  color: #d81828;
}
.ordered {
  color: blue;
  font-weight: 700;
}
.processing {
  color: orange;
  font-weight: 700;
}
.delivered {
  color: green;
  font-weight: 700;
}
.cancelled {
  color: red;
  font-weight: 700;
}
.capitalize {
  text-transform: capitalize;
}

.display-block {
  display: block;
}
.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
}
.btn-primary {
  /* background-color: #1818d8; */
  background-color: #226e7c;
  color: white;
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
}
.btn-primary:hover {
  background-color: #0b4049;
}
.btn-secondary {
  /* background-color: #3ed818; */
  /* background-color: #98C4D6; */
  background-color: #2389b1;
  color: white;
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
}
.btn-secondary:hover {
  background-color: #40a128;
}
.btn-danger {
  background-color: #d81828;
  color: white;
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
}
.btn-danger:hover {
  background-color: #921822;
}
.nav-wrapper {
  width: 100%;
  height: 100%;
  /* background-color: #800C4C; */
  padding: 1%;
  margin: 0 auto;
}
.tbl-full {
  width: 100%;
}
/* clear float */
.clearfix {
  float: none;
  clear: both;
}
/* clear float */

.text-center {
  text-align: center;
  text-transform: capitalize;
}
.menu-table {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1.8rem 0;
  /* border: 2px solid red; */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: capitalize;
  border-radius: 8px;
  -webkit-box-shadow: 4px 4px 7px gray;
  box-shadow: 4px 4px 7px gray;
}
.amount,
#payable {
  border-radius: 6px;
  outline: none;
  border: 1px solid grey;
  background-color: transparent;
  padding: 2px 0 2px 2px;
  /* border: 1px solid #70516B; */
  border: none;
  font-weight: 600;
  min-width: 57px;
  color: #70516b;
  margin-left: 3rem;
}
/* CSS for menu */
.menu {
  width: 100%;
  border-bottom: 1px solid grey;
  background-color: #0b4049;
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}
.links-ul {
  list-style-type: none;
  /* display: flex;
    justify-content: flex-end; */
}
.links-ul .links-li {
  display: inline;
  padding: 1%;
  border-radius: 5px;
  -webkit-transition: all 0.8s linear;
  -o-transition: all 0.8s linear;
  transition: all 0.8s linear;
  float: right;
}
.links-ul .links-li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.links-ul .links-li a:hover {
  color: wheat;
}
.toggle-btn {
  display: none;
}
/*  */
.drop-down-btn {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: none;
  outline: none;
}
/* .menu > main,
section {
  margin-top: 4rem;
} */

/*
.drop-down {
  display: none;
}
.drop-down a {
  display: block;
  text-align: left;
} */

/* ADMIN CSS STARTS */
.tbl-full {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 90%;
  margin: 0 auto;
  width: 100%;
}
.tbl-30 {
  width: 30%;
}
table tr th {
  border-bottom: 1px solid black;
  /* padding: 1%; */
  text-align: left;
}
table tr td {
  margin-bottom: 5px;
}
/* table tr td{
    padding: 1%;
} */
.add-admin {
  display: inline-block;
  margin: 10px 0;
  margin-left: 1.5rem;
}
/* ADMIN CSS ENDS*/

/*  */
/* CSS for main content */
.main {
  width: 80%;
  margin: 0 auto;
}

.cat-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.dashboard-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.col-4 {
  background-color: white;
  padding: 2%;
  margin: 1%;
  /* float: left; */
}
/*  */
/*  */
/* ADMIN LOGIN PAGE STARTS HERE */

/* ADMIN LOGIN PAGE STARTS HERE */
/*  */
/*  */
/*  */
/* CSS for footer */
.footer {
  background-color: #0b4049;
  color: white;
  width: 100%;
  /* height: 50px; */
  /* position: fixed; */
  /* top: 95%; */
}
/* CSS FOR LOGIN  */
.login {
  border: 2px solid grey;
  width: 30%;
  margin: 0 auto;
  margin-top: 15%;
  padding: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 3px 3px rgb(181, 180, 180);
  box-shadow: 2px 3px 3px rgb(181, 180, 180);
}
.tbl-margin {
  margin-bottom: 20px;
}
.login .text-center,
.login-welcome {
  margin-bottom: 15px;
  /* color: white; */
  font-weight: 500;
}
.login label {
  margin-bottom: 5px;
  color: #ac546d;
  font-weight: 700;
}
.login input {
  padding: 5px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid grey;
  border-radius: 7px;
  outline: none;
}

.admin-login {
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
/* order details output */
#paymentform {
  width: 50%;
  margin: 0 auto;
  /* border: 2px solid green; */
}
.personal {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.ds-flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.personal div a {
  display: block;
  width: 100%;
  text-align: center;
}
.personal h5 {
  text-decoration: underline;
}
/*  */
/*  */
/*  */
/*SALES STATUS STYLING STARTS  */
.sales-status-wrapper {
  margin-left: 2rem;
  /* border: 2px solid red; */
}
.sales-status {
  color: white;
  display: inline-block;
  /* border: 2px solid green; */
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  background-color: #0b4049;
}
.sales-btn {
  outline: none;
  border: 0 solid grey;
  display: inline-block;
  padding: 5px 8px;
  background-color: #0b4049;
  color: white;
  border-radius: 5px;
  /* opacity: 0.3; */
  -webkit-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  transition: all 0.6s linear;
  cursor: pointer;
}
.sales-btn:hover {
  /* opacity: 0.3 !important; */
  background-color: #208395;
}
.s-form {
  display: inline-block;
}

/*SALES STATUS STYLING ENDS  */
/*  */
/*  */
/*  */

/* CSS FOR LOGIN  */
@media screen and (min-width: 768px) {
  body {
    width: 100vw;
    overflow-x: hidden;
  }
  .drop-down-btn {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: none;
    outline: none;
  }
  .drop-down {
    display: none;
    padding-left: 10px;
    -webkit-transition: all 0.8s linear;
    -o-transition: all 0.8s linear;
    transition: all 0.8s linear;
    position: absolute;
    top: 80px;
    background-color: #0b4049;
    padding: 0 8px 10px 8px;
  }
  .drop-down a {
    display: block;
    text-align: left;
  }
  .display-block {
    display: block;
  }
  .drop-down-btn:hover .drop-down {
    display: block;
    padding-left: 10px;
    -webkit-transition: all 0.8s linear;
    -o-transition: all 0.8s linear;
    transition: all 0.8s linear;
    position: absolute;
    top: 80px;
    background-color: #0b4049;
    padding: 0 8px 10px 8px;
  }
  .drop-down-btn:hover .drop-down a {
    display: block;
    text-align: left;
  }
  .display-block {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .btn-danger,
  .btn-secondary,
  .btn-primary {
    padding: 5px;
  }
  .btn-update {
    width: 100px;
  }
  .login {
    width: 60%;
  }
  th,
  tr,
  td {
    font-size: 0.7rem;
  }
  .links-ul li {
    float: none;
  }
  .img-width {
    width: 70px;
    height: 70px;
  }
  .dashboard-content {
    width: 40%;
    height: 80%;
    display: block;
  }
  .dashboard-content .col-4 {
    margin-bottom: 5px;
  }
  /* order details output */
  #paymentform {
    width: 80%;
    margin: 0 auto;
  }
  .amount,
  #payable {
    width: 5rem;
  }
  .inquiry {
    color: white;
    font-weight: bold;
  }
  /* .menu{
        display: block;
    } */

  .links-ul {
    position: absolute;
    top: 5rem;
    left: -40vw;
    text-align: left;
    background-color: #0b4049;
    width: 40vw;
    height: calc(100vh - 80px);
    display: block;
    -webkit-transition: all 0.8s linear;
    -o-transition: all 0.8s linear;
    transition: all 0.8s linear;
  }
  .explore {
    width: 100%;
    border-bottom: 1px solid grey;
    text-align: center;
    font-size: 1.8rem;
    color: wheat;
    margin: 20px auto 40px;
  }
  .links-ul .links-li {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    line-height: 2rem;
    padding: 0;
    padding-left: 0.5rem;
  }
  .links-ul .links-li:hover {
    border: 0px solid none;
  }
  .links-ul .links-li:hover {
    padding-left: 1rem;
    border-radius: 0;
    background-color: #165a66;
  }
  .toggle-btn {
    display: block;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    right: 10%;
    background-color: transparent;
    outline: none;
    border: none;
    -webkit-transition: all 0.6s linear;
    -o-transition: all 0.6s linear;
    transition: all 0.6s linear;
    cursor: pointer;
  }

  .toggle-btn:hover {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .bars {
    margin-bottom: 3px;
    width: 1.3rem;
    border-bottom: 3px solid wheat;
  }

  .show-links {
    display: block;
    left: 0;
  }
  .drop-down {
    padding-left: 10px;
    -webkit-transition: all 0.8s linear;
    -o-transition: all 0.8s linear;
    transition: all 0.8s linear;
    display: none;
  }
  .drop-down a {
    display: block;
  }
  .display-block {
    display: block;
  }
}
